<div id="<%= dom_id subscription %>">
  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= subscription.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= subscription.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscription.status %>
  </p>

</div>
