<%= form_with(model: article_access) do |form| %>
  <% if article_access.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article_access.errors.count, "error") %> prohibited this article_access from being saved:</h2>

      <ul>
        <% article_access.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :article_id, style: "display: block" %>
    <%= form.number_field :article_id %>
  </div>

  <div>
    <%= form.label :accessed_at, style: "display: block" %>
    <%= form.datetime_field :accessed_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
